h1 {
  margin: 0 0 1em 0;
}

input {
  display: block;
  width: 100%;
  margin: .5em 0 1em 0;
  padding: .25em;
  box-sizing: border-box;
}

input[type=submit] {
  padding: .4em;
}

main {
  width: 500px;
  min-height: 500px;
  float: right;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 1em 0 0 0;
  width: 800px;
  overflow: auto;
}

.sidebar {
  width: 240px;
  float: left;
}

.mascot {
  background-image: url("/images/mascot.png");
  position: relative;
}

.sign-text-wrap {
  position: absolute;
  width: 260px;
  height: 130px;
  top: 240px;
  left: 110px;
  -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(2deg);
}

.sign-text {
  color: white;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

  .demo {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
  }
  .demo th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
  }
  .demo td {
    border:1px solid #C0C0C0;
    padding:5px;
  }

td {
  height: 100px;
  width: 100px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content-2 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content-2 {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#button_right {
    left: 0;
}
