<div class="container">

    <h1>Connect Four!</h1>


<table class="demo">
  <caption>Table 1</caption>
  <thead>
  <tr>
    <th><input type="submit" value="Play"  id = "column_id1"></th>
    <th><input type="submit" value="Play" id = "column_id2"></th>
    <th><input type="submit" value="Play" id = "column_id3"></th>
    <th><input type="submit" value="Play" id = "column_id4"></th>
    <th><input type="submit" value="Play" id = "column_id5"></th>
    <th><input type="submit" value="Play" id = "column_id6"></th>
  </tr>
  <tr>
    <td></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><br></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><br></td>
    <td><br></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td><br></td>
    <td>&nbsp;</td>
  </tr> </thead>
  <tbody>

  </tbody>
</table>


</div>
