<div class="container">

    <h1>Connect Four!</h1>


<table class="demo">
  <caption>Table 1</caption>
  <thead>
  <tr>
    <th><input type="submit" value="Play"  id = "column_id0"></th>
    <th><input type="submit" value="Play" id = "column_id1"></th>
    <th><input type="submit" value="Play" id = "column_id2"></th>
    <th><input type="submit" value="Play" id = "column_id3"></th>
    <th><input type="submit" value="Play" id = "column_id4"></th>
    <th><input type="submit" value="Play" id = "column_id5"></th>
  </tr>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>0,1</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr id="1">
    <td>0,0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
</thead>
  <tbody>

  </tbody>
</table>


</div>
