<div class="container">

    <h1>Connect Four!</h1>



<table class="demo">
  <thead>
  <tr>
    <th><input type="submit" value="Play"  class="column_class" id='0'></th>
    <th><input type="submit" value="Play" class= "column_class" id='1'></th>
    <th><input type="submit" value="Play" class= "column_class"  id='2'></th>
    <th><input type="submit" value="Play" class= "column_class" id='3'></th>
    <th><input type="submit" value="Play" class= "column_class" id='4'></th>
    <th><input type="submit" value="Play" class= "column_class" id='5'></th>
    <th><input type="submit" value="Play" class= "column_class" id='6'></th>
  </tr>
  <tr id ="row_5">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_4">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_3">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_2">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_1">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_0">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</thead>
  <tbody>

  </tbody>
</table>


</div>
