<div class="container">

    <h1>Connect Four!</h1>

<div class="dropdown">
  <button class="dropbtn" id = "button_left">Player 1 - Choose your Icon!</button>
  <div class="dropdown-content">
    <a class="p1_icon_select"><img src = 'http://assets.nydailynews.com/polopoly_fs/1.1245686!/img/httpImage/image.jpg_gen/derivatives/article_970/afp-cute-puppy.jpg' height=100px width=100px></a>
    <a class="p1_icon_select"><img src = 'https://s3.amazonaws.com/cms-uploads.adoptapet.com/d/6/4/40.png' height=100px width=100px></a>
    <a class="p1_icon_select"><img src = 'https://s3.amazonaws.com/cms-uploads.adoptapet.com/c/7/4/16.png' height=100px width=100px></a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn" id = "button_right">Player 2 - Choose your Icon!</button>
  <div class="dropdown-content-2">
    <a class="p2_icon_select"><img src = 'https://openclipart.org/download/231967/blackcat.svg' height=100px width=100px' height=100px width=100px'></a>
    <a class="p2_icon_select"><img src = 'http://rookiesreward.org/images/blackcat.png' height=100px width=100px' height=100px width=100px'></a>
    <a class="p2_icon_select"><img src = 'http://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Animals-PNG/Painted_Black_Cat_Clipart.png?m=1363734000' height=100px width=100px' height=100px width=100px'></a>
  </div>
</div>




<table class="demo">
  <thead>
  <tr>
    <th><input type="submit" value="Play"  class="column_class" id='0'></th>
    <th><input type="submit" value="Play" class= "column_class" id='1'></th>
    <th><input type="submit" value="Play" class= "column_class"  id='2'></th>
    <th><input type="submit" value="Play" class= "column_class" id='3'></th>
    <th><input type="submit" value="Play" class= "column_class" id='4'></th>
    <th><input type="submit" value="Play" class= "column_class" id='5'></th>
    <th><input type="submit" value="Play" class= "column_class" id='6'></th>
  </tr>
  <tr id ="row_5">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_4">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_3">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_2">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_1">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id = "row_0">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</thead>
  <tbody>

  </tbody>
</table>


</div>
